@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Open+Sans:ital,wght@0,500;1,500&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Crete Round", serif;
  font-weight: 600;
  color: #ffffff;
}

html {
  scroll-behavior: smooth;
}
.nav-header {
  position: fixed;
  width: 100%;
  z-index: 1;
}
.nav-header,
.footer {
  background-color: #09554e;
  padding: 0 10%;
  text-align: center;
}
.nav-list,
.nav-title,
.nav-bar {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 24px;
  color: #fff;
}
#logo {
  width: 50px;

  padding-top: 10px;
}

.nav-bar {
  justify-content: space-between;
}
.nav-list a {
  color: #fff;
  font-size: 20px;
}
/* .nav-list a:hover {
  color: #75c2ba;
} */
